@model BumerangHelper.Models.ViewModels.ProductViewModel

<h1>Изменить</h1>
<br />
<p>@Model.ProductID</p>
<p>@Model.Name</p>
<p>@Model.Country</p>
<p>@Model.LastPrice</p>
<p>@Model.Unit</p>
<p>@Model.About</p>